# This file defines code owners for the Azure OpenAPI Validation Tools (oav) repository.
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global code owners - these users will be requested for review on all PRs
* @scbedd @mikeharder @weshaggard