{
  "swagger": "2.0",
  "info": {
    "title": "ManagedApplicationClient",
    "version": "2016-09-01-preview",
    "description": "ARM managed applications (appliances)"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions": {
      "get": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_ListByResourceGroup",
        "description": "Lists the appliance definitions in a resource group.",
        "x-ms-examples": {
          "List appliance definitions": {
            "$ref": "./examples/listApplianceDefinitionsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of appliance definitions.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ApplianceDefinition": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplianceDefinitionProperties",
          "description": "The appliance definition properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance definition."
    },
    "ApplianceDefinitionProperties": {
      "properties": {
        "lockLevel": {
          "$ref": "#/definitions/ApplianceLockLevel",
          "description": "The appliance lock level."
        },
        "displayName": {
          "type": "string",
          "description": "The appliance definition display name."
        },
        "authorizations": {
          "description": "The appliance provider authorizations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceProviderAuthorization"
          }
        },
        "artifacts": {
          "description": "The collection of appliance artifacts. The portal will use the files specified as artifacts to construct the user experience of creating an appliance from an appliance definition.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceArtifact"
          }
        },
        "description": {
          "type": "string",
          "description": "The appliance definition description."
        },
        "packageFileUri": {
          "type": "string",
          "description": "The appliance definition package file Uri."
        }
      },
      "required": [
        "lockLevel",
        "authorizations",
        "packageFileUri"
      ],
      "description": "The appliance definition properties."
    },
    "GenericResource": {
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        },
        "tier": {
          "type": "string",
          "description": "The SKU tier."
        },
        "size": {
          "type": "string",
          "description": "The SKU size."
        },
        "family": {
          "type": "string",
          "description": "The SKU family."
        },
        "model": {
          "type": "string",
          "description": "The SKU model."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU for the resource."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      },
      "description": "Identity for the resource."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Resource information.",
      "x-ms-azure-resource": true
    },
    "ApplianceDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceDefinition"
          },
          "description": "The array of appliance definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of appliance definitions."
    },
    "ApplianceLockLevel": {
      "description": "The appliance lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly",
        "None"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceLockLevel",
        "modelAsString": false
      }
    },
    "ApplianceArtifactType": {
      "description": "The appliance artifact type.",
      "enum": [
        "Template",
        "Custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceArtifactType",
        "modelAsString": false
      }
    },
    "ApplianceArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The appliance artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The appliance artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplianceArtifactType",
          "description": "The appliance artifact type."
        }
      },
      "description": "Appliance artifact."
    },
    "ApplianceProviderAuthorization": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the appliance resources."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the appliance's container resource group. This role definition cannot have permission to delete the resource group."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ],
      "description": "The appliance provider authorization."
    },
    "ErrorResponse": {
      "description": "Error response indicates ARM appliance is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "Http status code.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error code.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  }
}
