{
  "swagger": "2.0",
  "info": {
    "title": "Azure Addons Resource Provider",
    "description": "The service for managing third party addons.",
    "version": "2017-05-15"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}": {
      "delete": {
        "operationId": "SupportPlanTypes_Delete",
        "description": "Cancels the Canonical support plan of type {type} for the subscription.",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SupportPlanTypes_Delete": {
            "$ref": "./examples/SupportPlanTypes_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/SupportProviderName"
          },
          {
            "$ref": "#/parameters/CanonicalSupportPlanType"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/CanonicalSupportPlanResponseEnvelope"
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CanonicalSupportPlanProperties": {
      "type": "object",
      "description": "The properties of the Canonical support plan.",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the resource.",
          "enum": [
            "Succeeded",
            "Failed",
            "Cancelled",
            "Purchasing",
            "Downgrading",
            "Cancelling",
            "Upgrading"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "CanonicalSupportPlanResponseEnvelope": {
      "type": "object",
      "description": "The status of the Canonical support plan.",
      "required": [
        "properties"
      ],
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\"."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\"."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Microsoft.Addons/supportProvider"
        },
        "properties": {
          "type": "object",
          "$ref": "#/definitions/CanonicalSupportPlanProperties",
          "description": "Describes Canonical support plan type and status.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorDefinition": {
      "type": "object",
      "title": "Error",
      "description": "Error description and code explaining why an operation failed.",
      "required": [
        "message",
        "code"
      ],
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the error."
        },
        "code": {
          "type": "string",
          "description": "Service specific error code which serves as the substatus for the HTTP error code."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "SupportProviderName": {
      "name": "providerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The support plan type. For now the only valid type is \"canonical\".",
      "x-ms-parameter-location": "method"
    },
    "CanonicalSupportPlanType": {
      "name": "planTypeName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Canonical support plan type.",
      "enum": [
        "Essential",
        "Standard",
        "Advanced"
      ],
      "x-ms-enum": {
        "name": "PlanTypeName",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    }
  }
}
