{
  "swagger": "2.0",
  "info": {
    "title": "FormatValidation",
    "description": "Tests for Format Validation"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/format/byte": {
      "post": {
        "operationId": "Byte",
        "description": "The value is in base64 format",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ByteResult"
            }
          }
        },
        "x-ms-examples": {
          "Byte": {
            "$ref": "./examples/byte.json"
          }
        }
      }
    },
    "/format/armid": {
      "post": {
        "operationId": "ARMID",
        "description": "The value is an ARM ID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ARMIDResult"
            }
          }
        },
        "x-ms-examples": {
          "Byte": {
            "$ref": "./examples/armid.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ByteResult": {
      "type": "object",
      "properties": {
        "NotByteValue": {
          "type": "string",
          "format": "byte",
          "description": "Invalid base64-encoded data."
        },
        "NotUriSafeValue": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded data using non URI-safe characters."
        },
        "NotPaddedValue": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded data without sufficient padding."
        },
        "ByteValue": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded data."
        }
      }
    },
    "ARMIDResult": {
      "type": "object",
      "properties": {
        "NotARMIDValue": {
          "type": "string",
          "format": "arm-id",
          "description": "An ARM ID"
        },
        "ARMIDValue": {
          "type": "string",
          "format": "arm-id",
          "description": "An ARM ID"
        }
      }
    }
  },
  "parameters": {}
}