{
  "swagger": "2.0",
  "info": {
    "title": "HeaderTests",
    "description": "Tests for header parameters",
    "version": "1.0"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/header/string/required": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_StringRequestRequired",
        "description": "The parameter is a required header",
        "x-ms-examples": {
          "headerStringRequestRequired": {
            "$ref": "./examples/stringReqRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Required string header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/string/notRequired": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_StringRequestNotRequired",
        "description": "The parameter is a not required header",
        "x-ms-examples": {
          "headerStringRequestNotRequired": {
            "$ref": "./examples/stringReqNotRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Not required string header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/string": {
      "get": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_StringResponseNotRequired",
        "description": "Returns a header",
        "x-ms-examples": {
          "headerStringResponse": {
            "$ref": "./examples/stringResp.json"
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "hello": {
                "type": "string",
                "description": "Response string header"
              }
            }
          }
        }
      }
    },
    "/header/boolean/required": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_BoolRequestRequired",
        "description": "The parameter is a required header",
        "x-ms-examples": {
          "headerBoolRequestRequired": {
            "$ref": "./examples/booleanReqRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": true,
            "type": "boolean",
            "description": "Required boolean header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/boolean/notRequired": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_BoolRequestNotRequired",
        "description": "The parameter is a not required header",
        "x-ms-examples": {
          "headerBoolRequestNotRequired": {
            "$ref": "./examples/booleanReqNotRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Not required boolean header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/boolean": {
      "get": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_BoolResponseNotRequired",
        "description": "Returns a header",
        "x-ms-examples": {
          "headerBoolResponse": {
            "$ref": "./examples/booleanResp.json"
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "hello": {
                "type": "boolean",
                "description": "Response boolean header"
              }
            }
          }
        }
      }
    },
    "/header/integer/required": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_IntegerRequestRequired",
        "description": "The parameter is a required header",
        "x-ms-examples": {
          "headerIntegerRequestRequired": {
            "$ref": "./examples/integerReqRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": true,
            "type": "integer",
            "description": "Required integer header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/integer/notRequired": {
      "post": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_IntegerRequestNotRequired",
        "description": "The parameter is a not required header",
        "x-ms-examples": {
          "headerIntegerRequestNotRequired": {
            "$ref": "./examples/integerReqNotRequired.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "header",
            "required": false,
            "type": "integer",
            "description": "Not required integer header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/header/integer": {
      "get": {
        "tags": [
          "Header"
        ],
        "operationId": "Header_IntegerResponseNotRequired",
        "description": "Returns a header",
        "x-ms-examples": {
          "headerIntegerResponse": {
            "$ref": "./examples/integerResp.json"
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "hello": {
                "type": "integer",
                "description": "Response integer header"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}