{
    "swagger": "2.0",
    "info": {
        "title": "PolymorphicManagementClient",
        "version": "2017-09-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/foo": {
            "get": {
                "tags": [
                    "Foo"
                ],
                "operationId": "Foo_List",
                "x-ms-examples": {
                    "Operations_List": {
                        "$ref": "./examples/Foo_List.json"
                    }
                },
                "description": "Lists the available Azure Data Factory API operations.",
                "parameters": [
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "schema": {
                            "$ref": "#/definitions/FooListResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "FooListResponse": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Activity"
                    }
                }
            }
        },
        "Activity": {
            "discriminator": "type",
            "description": "A pipeline activity.",
            "properties": {
                "name": {
                    "description": "Activity name.",
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [ "Activity" ],
                    "description": "Type of activity."
                }
            },
            "required": [
                "name",
                "type"
            ]
        },
        "CopyActivity": {
            "x-ms-discriminator-value": "Copy",
            "description": "Copy activity.",
            "allOf": [
                {
                    "$ref": "#/definitions/ExecutionActivity"
                }
            ],
            "properties": {
                "copyActivityProperty": {
                    "type": "string",
                    "description": "Type of activity."
                }
            }
        },
        "ExecutionActivity": {
            "x-ms-discriminator-value": "Execution",
            "description": "Base class for all execution activities.",
            "allOf": [
              {
                "$ref": "#/definitions/Activity"
              }
            ],
            "properties": {
              "executionActivityProperty": {
                "description": "Linked service reference.",
                "type": "string"
              }
            }
          }
    },
    "parameters": {
        "api-version": {
            "name": "api-version",
            "description": "The API version.",
            "in": "query",
            "required": true,
            "type": "string"
        }
    }
}