{
  "swagger": "2.0",
  "info": {
    "version": "2017-04-02",
    "title": "CdnManagementClient",
    "description": "Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure."
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}": {
      "put": {
        "tags": ["Profiles"],
        "description": "Creates a new CDN profile with a profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Create",
        "x-ms-examples": {
          "Profiles_Create": {}
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "description": "Profile properties needed to create a new profile.",
            "in": "body",
            "name": "profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Profile": {
      "description": "CDN profile is a logical grouping of endpoints that share the same settings, such as CDN provider and pricing tier.",
      "type": "object",
      "properties": {
        "sku": {
          "description": "The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.",
          "$ref": "#/definitions/Sku"
        }
      },
      "required": ["sku"]
    },
    "Sku": {
      "description": "The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.",
      "properties": {
        "name": {
          "description": "Name of the pricing tier.",
          "enum": [
            "Standard_Verizon",
            "Premium_Verizon",
            "Custom_Verizon",
            "Standard_Akamai",
            "Standard_ChinaCdn"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2017-04-02."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    }
  }
}
