{
  "swagger": "2.0",
  "info": {
    "title": "QueryTests",
    "description": "Tests for query parameters",
    "version": "2016-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/query/string/encoded": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_StringEncoded",
        "description": "The parameter is a query, an encoded string",
        "x-ms-examples": {
          "queryStringEncoded": {
            "$ref": "./examples/queryStringEncoded.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Encoded query string",
            "x-ms-skip-url-encoding": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/query/string/notEncoded": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_StringNotEncoded",
        "description": "The parameter is a query, a not encoded string",
        "x-ms-examples": {
          "queryStringNotEncoded": {
            "$ref": "./examples/queryStringNotEncoded.json"
          }
        },
        "parameters": [
          {
            "name": "hello",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Not encoded query string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/query/integer/encoded": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_IntegerEncoded",
        "description": "The parameter is a query, an encoded integer",
        "x-ms-examples": {
          "queryIntegerEncoded": {
            "$ref": "./examples/queryIntegerEncoded.json"
          }
        },
        "parameters": [
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "hello",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Encoded query integer",
            "x-ms-skip-url-encoding": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "tags": [
          "UsageDetails"
        ],
        "operationId": "UsageDetails_List",
        "description": "Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "x-ms-examples": {
          "UsageDetailsList": {
            "$ref": "./examples/list.json"
          }
        },
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the usage details. The scope can be '/subscriptions/{subscriptionId}' for a subscription, or '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}' for a billing perdiod.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsageDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/query/integer/notEncoded": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_IntegerNotEncoded",
        "description": "The parameter is a query, a not encoded integer",
        "x-ms-examples": {
          "queryIntegerNotEncoded": {
            "$ref": "./examples/queryIntegerNotEncoded.json"
          }
        },
        "parameters": [
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "hello",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Not ncoded query integer",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UsageDetail": {
      "description": "An usage detail resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UsageDetailProperties",
          "title": "Usage detail properties"
        }
      }
    },
    "UsageDetailsListResult": {
      "description": "Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of usage details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/UsageDetail"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UsageDetailProperties": {
      "description": "The properties of the usage detail.",
      "properties": {
        "billingPeriodId": {
          "description": "The id of the billing period resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "invoiceId": {
          "description": "The id of the invoice resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "usageStart": {
          "description": "The start of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usageEnd": {
          "description": "The end of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "instanceName": {
          "description": "The name of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "instanceId": {
          "description": "The uri of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "instanceLocation": {
          "description": "The location of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency in which the meter is charged, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "usageQuantity": {
          "description": "The quantity of usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "billableQuantity": {
          "description": "The billable usage quantity.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pretaxCost": {
          "description": "The amount of cost before tax.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "isEstimated": {
          "description": "The estimated usage is subject to change.",
          "type": "boolean",
          "readOnly": true
        },
        "meterId": {
          "description": "The meter id.",
          "type": "string",
          "readOnly": true
        },
        "meterDetails": {
          "description": "The details about the meter. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/MeterDetails",
          "readOnly": true
        },
        "subscriptionGuid": {
          "description": "Subscription guid.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "Subscription name.",
          "type": "string",
          "readOnly": true
        },
        "accountName": {
          "description": "Account name.",
          "type": "string",
          "readOnly": true
        },
        "departmentName": {
          "description": "Department name.",
          "type": "string",
          "readOnly": true
        },
        "product": {
          "description": "Product name.",
          "type": "string",
          "readOnly": true
        },
        "consumedService": {
          "description": "Consumed service name.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center of this department if it is a department and a costcenter exists",
          "type": "string",
          "readOnly": true
        },
        "additionalProperties": {
          "description": "Additional details of this usage item. By default this is not populated, unless it's specified in $expand.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-01-31."
    }
  }
}