{
  "swagger": "2.0",
  "info": {
    "title": "QueryTests",
    "description": "Tests for query parameters"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/query/string/definedAsArray/number": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_StringButDefinedAsArray_numberItem",
        "description": "The parameter is a query, a string but defined as an array",
        "x-ms-examples": {
          "queryStringButDefinedAsArray": {
            "$ref": "./examples/stringWithNumber.json"
          }
        },
        "parameters": [
          {
            "name": "helloArray",
            "in": "query",
            "required": false,
            "type": "array",
            "description": "array items are numbers",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/query/string/definedAsArray/boolean": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_StringButDefinedAsArray_booleanItem",
        "description": "The parameter is a query, a string but defined as an array",
        "x-ms-examples": {
          "queryStringButDefinedAsArray": {
            "$ref": "./examples/stringWithBoolean.json"
          }
        },
        "parameters": [
          {
            "name": "helloArray",
            "in": "query",
            "required": false,
            "type": "array",
            "description": "array item is boolean",
            "items": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/query/string/definedAsArray/extraError": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_StringButDefinedAsArray_extraError",
        "description": "The parameter is a query, a string but defined as an array",
        "x-ms-examples": {
          "queryStringButDefinedAsArray": {
            "$ref": "./examples/stringWithExtraError.json"
          }
        },
        "parameters": [
          {
            "name": "helloArray",
            "in": "query",
            "required": false,
            "type": "array",
            "description": "array items are numbers",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "array",
            "description": "array items are numbers",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "maxLength": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}