{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-01",
    "title": "SignalRManagementClient",
    "description": "REST API for Azure SignalR Service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/listKeys": {
      "post": {
        "tags": [
          "SignalR"
        ],
        "description": "Get the access keys of the resource.",
        "operationId": "SignalR_ListKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes access keys of the resource.",
            "schema": {
              "$ref": "#/definitions/SignalRKeys"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SignalRKeys": {
      "description": "A class represents the access keys of the resource.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "The primary access key.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "secondaryKey": {
          "description": "The secondary access key.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "primaryConnectionString": {
          "description": "Connection string constructed via the primaryKey",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "secondaryConnectionString": {
          "description": "Connection string constructed via the secondaryKey",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
